<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.braguia">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"

        >
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/map_key"/>
        <service
            android:name=".model.LocationService"
            android:exported="false"/>
        <activity android:name=".ui.pagina_inicial"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity"
            android:exported="true">
        </activity>
        <activity android:name=".ui.Maps_Activity"
            android:exported="true">
        </activity>
        <activity android:name=".ui.Contacts"
            android:exported="true">
        </activity>
        <activity android:name=".ui.Partners"
            android:exported="true">
        </activity>
        <activity android:name=".ui.Socials"
            android:exported="true">
        </activity>
        <activity android:name=".ui.Trails_activity"
            android:exported="true">
        </activity>
        <activity android:name=".ui.Trail_info" />
        <activity android:name=".ui.Marker_info"
            android:exported="true">
        </activity>
        <activity android:name=".ui.user_info"
            android:exported="true">
        </activity>
        <activity android:name=".ui.Setings"
            android:exported="true">
        </activity>

    </application>
</manifest>

